@import "bootstrap/normalize";
@import "bootstrap/mixins/clearfix";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,600italic,400italic,700,700italic,800,800italic|Questrial);

$color-menu-actif: #d96c1c;
$color-vignette-recommandation: #3d5379;
$color-menu-font: #2b4e86;
$color-input-search: #2f528b;
$color-background-session-average: #386895;
$color-tab-results: #5f90bc;
$color-background-dash: #6090bd;
$color-back-badges: #a4c5e4;
$color-check-label: #3f4248;
$color-table-stripped: #e2e6e8;
$color-table-tr-free: #d6eaf9;
$color-background-recommandations: #c1c4c6;

$width-badge : 76px;
$debordementLesson: 76px;

$font-size-search: 28px;
$height-checkbox: 26px;
$height-select: 30px;

html {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.clearfix {
  @include clearfix;
}

.hidden {
  display: none !important;
}

.container {
  display: block;
  width: 1365px;
  margin: 0 auto;
}

.inner-container {
  width: 1300px;
  margin: 0 auto;
}

input {
  &[type="checkbox"] {
    $font-size: 14px;
    /* Base for label styling */
    &:not(:checked),
    &:checked {
      position: absolute;
      left: -9999px;

      & + label {
        position: relative;
        padding-left: $height-checkbox+13;
        cursor: pointer;
        color: $color-check-label;
        font-size: $font-size;
        line-height: $height-checkbox;

        /* checkbox aspect */
        &:before {
          $borderWidth : 3px;
          content: '';
          position: absolute;
          left: 0;
          top: calc(50% - #{$height-checkbox/2});
          width: $height-checkbox; height: $height-checkbox;
          border: $borderWidth solid $color-menu-actif;
        }

        /* checked mark aspect */
        &:after {
          content: '✔';
          position: absolute;
          top: -9px; left: 2px;
          font-size: 33px;
          line-height: 0.8;
          color: $color-input-search;
          transition: all .2s;
        }
      }

    }

    /* checked mark aspect changes */
    &:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    &:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    /* disabled checkbox */
    &:disabled:not(:checked) + label:before,
    &:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    &:disabled:checked + label:after {
      color: #999;
    }
    &:disabled + label {
      color: #aaa;
    }
    /* accessibility */
    &:checked:focus + label:before,
    &:not(:checked):focus + label:before {
      //border: 1px dotted blue;
    }

    /* hover style just for information */
    & label:hover:before {
      border: 1px solid #4778d9!important;
    }
  }

  &[type="search"] {
    padding-left: 40px;
    padding-top: $font-size-search/4;
    padding-bottom: $font-size-search/4;
    width: 311px;
    border: 3px solid $color-input-search;
    font-size: $font-size-search;

    & + button {
      position: absolute;
      left: 6px;
      top: calc(50% - #{$font-size-search/2});
      font-size: $font-size-search;
      line-height: $font-size-search;
      background-color: transparent;
      border: none;
    }
  }
}

select {
  $font-size: 14px;
  z-index: 2;
  position: relative;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right:$height-select;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  border: none;
  font-size: $font-size;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  & + i {
    position: absolute;
    right: 10px;
    top: calc(50% - #{$height-select/2});
    font-size: $height-select !important;
    color: $color-menu-actif;
    line-height: $font-size;
  }

  &:focus {
    outline: none;
  }
}

.navbar {
  $height-navbar: 155px;

  display: block;
  height: $height-navbar;
  line-height: $height-navbar;

  & .brand {
    display: inline-block;
    float: left;

    & a {
      & img {
        vertical-align: middle;
      }
    }
  }

  & .menu {
    float: left;
    margin-left: 140px;
    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      & li {
        display: inline-block;
        line-height: initial;
        padding-bottom: 3px;

        &:not(:first-of-type) {
          margin-left: 50px;
        }

        &.active {
          border-bottom: 3px solid $color-menu-actif;
        }

        & a {
          font-family: 'Questrial', sans-serif;
          font-size: 22px;
          color: $color-menu-font;

        }
      }
    }
  }

  & .user {
    float: right;
    height: $height-navbar;
    width: $width-badge;
    text-align: center;
    color: $color-menu-font;
    line-height: initial;
    & img {
      padding-top: 45px;;
    }
    & p {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
  }

}

section#dashboard {
  margin-bottom: 200px;

  & h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    color: $color-menu-font;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 58px;
    padding-top: 40px;
    margin-top: 0;
  }

  & .dashboard {
    background-color: $color-background-dash;
    min-height: 242px;

    & .elo {
      margin-top: 45px;
      display: inline-block;
      float: left;
      background-image: url("/css/assets/elo.png");
      width: 450px;
      height: 167px;
      margin-right: 20px;

      $width-score-elo: 180px;
      & .score-elo {
        display: inline-block;
        width: $width-score-elo;
        color: white;
        text-align: center;
        padding-top: 48px;
        & p.score {
          font-size: 54px;
          line-height: 54px;
          font-weight: 700;
          color: white;
        }

        & p:not(.score) {
          margin-top: 23px;
        }
      }

      & .evolution {
        display: inline-block;
        margin-left: 20px;
        text-align: center;
        color: white;
      }
    }

    & .average {
      margin-top: 45px;
      display: inline-block;
      float: left;
      height: 167px;
      width: 167px;
      border: 2px solid white;
      border-bottom-right-radius: 84px;
      border-top-right-radius: 84px;
      border-top-left-radius: 84px;
      text-align: center;
      color: white;
      padding-top: 48px;
      margin-right: 40px;

      & p.note {
        font-size: 54px;
        line-height: 54px;
        font-weight: 700;

        & span {
          font-size: 31px;
          font-weight: 700;
          vertical-align: sub;
        }

      }

      & p:not(.note) {
        text-align: left;
        padding-left: 5px;
      }
    }

    & .sessions {
      display: inline-block;
      width: 460px;
      color: white;

      & .session1 {
        margin-top: 45px;
        display: inline-block;
        width: 216px;
        height: 70px;
        position: relative;
        float: left;

        & .text {
          & .points {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            height: 25px;
            width: 170px;
            border-top: 3px dotted white;
            border-left: 3px dotted white;
          }

          & p {
            display: inline-block;
            width: 122px;
            padding-left: 7px;
            padding-top: 7px;
            font-size: 13px;
            float: left;
            max-height: 65px;
            overflow: hidden;
          }

          & .plus {
            position: absolute;
            display: inline-block;
            top: 0;
            right: 85px;
            line-height: 29px;
            font-size: 24px;

            & .orange {
              position: absolute;
              display: inline-block;
              width: 53px;
              height: 29px;
              border-radius: 6px;
              background-color: $color-menu-actif;
            }

            & a {
              position: absolute;
              color: white;
              z-index: 3;
              padding-left: 5px;
            }
          }

        }

        & .session-average {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          width: 67px;
          height: 67px;
          background-color: $color-background-session-average;
          border: 2px solid white;
          border-top-left-radius: 34px;
          border-bottom-left-radius: 34px;
          border-top-right-radius: 34px;
          text-align: center;

          & p {
            font-size: 22px;
            line-height: 22px;
            font-weight: 900;
            font-style: italic;
            padding-top: 20px;
            position: relative;
            & span {
              position: absolute;
              bottom: -19px;
              right: 6px;
              font-size: 12px;
            }
          }
        }
      }

      & .session2 {
        $height-session2: 84px;
        margin-top: 28px;
        display: inline-block;
        width: 240px;
        height: $height-session2;
        position: relative;
        float: right;

        & .session-average {
          z-index: 2;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: $height-session2;
          height: $height-session2;
          background-color: $color-background-session-average;
          border: 2px solid white;
          border-top-left-radius: $height-session2/2;
          border-bottom-right-radius: $height-session2/2;
          border-top-right-radius: $height-session2/2;
          text-align: center;

          & p {
            font-size: 25px;
            line-height: 25px;
            font-weight: 900;
            font-style: italic;
            padding-top: 20px;
            padding-right: 5px;
            position: relative;
            & span {
              position: absolute;
              bottom: -21px;
              right: 10px;
              font-size: 14px;

            }
          }
        }

        & .text {
          height: $height-session2;
          position: relative;

          & .points {
            z-index: 2;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 25px;
            width: 191px;
            border-bottom: 3px dotted white;
            border-right: 3px dotted white;
          }

          & p {
            display: inline-block;
            width: 122px;
            position: absolute;
            bottom: 7px;
            right: 7px;
            font-size: 13px;
            float: right;
            max-height: 84px;
            overflow: hidden;
            text-align: right;
          }

          & .plus {
            position: absolute;
            display: inline-block;
            bottom: 0;
            left: 45px;
            line-height: 29px;
            font-size: 24px;

            & .orange {
              display: inline-block;
              position: absolute;
              width: 53px;
              height: 29px;
              border-radius: 6px;
              background-color: $color-menu-actif;
            }

            & a {
              color: white;
              z-index: 3;
              position: relative;
              left: 35px;
            }
          }
        }
      }

      & .session3 {
        $height-session3: 88px;
        margin-top: 13px;
        display: inline-block;
        width: 216px;
        height: $height-session3;
        position: relative;
        float: left;

        & .text {
          padding-left: 40px;
          & .points {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            height: 25px;
            width: 130px;
            margin-left: 40px;
            border-top: 3px dotted white;
            border-left: 3px dotted white;
          }

          & p {
            display: inline-block;
            width: 122px;
            padding-left: 7px;
            padding-top: 7px;
            font-size: 13px;
            float: left;
            max-height: 65px;
            overflow: hidden;
          }

          & .plus {
            position: absolute;
            display: inline-block;
            top: 0;
            right: 100px;
            line-height: 29px;
            font-size: 24px;

            & .orange {
              position: absolute;
              display: inline-block;
              width: 53px;
              height: 29px;
              border-radius: 6px;
              background-color: $color-menu-actif;
            }

            & a {
              position: absolute;
              color: white;
              z-index: 3;
              padding-left: 5px;
            }
          }

        }

        & .session-average {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          width: $height-session3;
          height: $height-session3;
          background-color: $color-background-session-average;
          border: 2px solid white;
          border-top-left-radius: $height-session3/2;
          border-bottom-left-radius: $height-session3/2;
          border-bottom-right-radius: $height-session3/2;
          text-align: center;

          & p {
            font-size: 26px;
            line-height: 26px;
            font-weight: 900;
            font-style: italic;
            padding-top: 20px;
            position: relative;
            & span {
              position: absolute;
              bottom: -21px;
              right: 6px;
              font-size: 15px;
            }
          }
        }
      }

      & .session4 {
        $height-session4: 103px;
        margin-top: 13px;
        display: inline-block;
        width: 240px;
        height: $height-session4;
        position: relative;
        float: right;

        & .session-average {
          z-index: 2;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: $height-session4;
          height: $height-session4;
          background-color: $color-background-session-average;
          border: 2px solid white;
          border-bottom-left-radius: $height-session4/2;
          border-bottom-right-radius: $height-session4/2;
          border-top-right-radius: $height-session4/2;
          text-align: center;

          & p {
            font-size: 32px;
            line-height: 32px;
            font-weight: 900;
            font-style: italic;
            padding-top: 20px;
            padding-right: 5px;
            position: relative;
            & span {
              position: absolute;
              bottom: -25px;
              right: 10px;
              font-size: 19px;

            }
          }
        }

        & .text {
          height: $height-session4;
          position: relative;

          & .points {
            z-index: 2;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 25px;
            width: 191px;
            border-bottom: 3px dotted white;
            border-right: 3px dotted white;
          }

          & p {
            display: inline-block;
            width: 122px;
            position: absolute;
            bottom: 7px;
            right: 7px;
            font-size: 13px;
            float: right;
            max-height: 84px;
            overflow: hidden;
            text-align: right;
          }

          & .plus {
            position: absolute;
            display: inline-block;
            bottom: 0;
            left: 58px;
            line-height: 29px;
            font-size: 24px;

            & .orange {
              display: inline-block;
              position: absolute;
              width: 53px;
              height: 29px;
              border-radius: 6px;
              background-color: $color-menu-actif;
            }

            & a {
              color: white;
              z-index: 3;
              position: relative;
              left: 35px;
            }
          }
        }
      }
    }

    & .badges {
      $width-badge : 76px;
      float: right;
      width: 76px;

      & .list {
        width: 100%;
        border: 3px dotted white;
        background-color: $color-back-badges;

        & .badge {
          width: calc(50% - 5px);
          display: inline-block;
          margin-left: 2px;
          margin-top: 13px;
          margin-bottom: 22px;
          height: 31px;


          &.badge1 {
            background: url("/css/assets/badges.png") no-repeat;
            background-position: 0, 0;
          }

          &.badge2 {
            background: url("/css/assets/badges.png") no-repeat;
            background-position: -37px, 0;
          }

          &.badge3 {
            background: url("/css/assets/badges.png") no-repeat;
            background-position: -74px, 0;
          }

          &.badge4 {
            background: url("/css/assets/badges.png") no-repeat;
            background-position: -111px, 0;
          }

          &.badge5 {
            background: url("/css/assets/badges.png") no-repeat;
            background-position: -148px, 0;
          }

          &.empty {
            background: url("/css/assets/badges.png") no-repeat;
            background-position: -185px, 0;
          }
        }

      }

      & .plus {
        height: 38px;
        width: 100%;
        border: 3px solid white;
        border-bottom-right-radius: $width-badge/2;
        border-bottom-left-radius: $width-badge/2;
        background-color: $color-menu-actif;
        text-align: center;

        & a {
          color: white;
          font-size: 34px;
          position: relative;
          top: -8px;
        }
      }
    }

    & .extend-badges {
      height: $debordementLesson;
      width: 100%;
      background-color: $color-background-dash;
      position: relative;
      bottom: -$debordementLesson;
    }

  }

  & .lessons {
    & .inner-container {
      position: relative;
      box-shadow: 0px -12px 20px rgba(0,0,0,0.5);
      background-color: #fff;
      padding-bottom: 90px;

      & .filters {
        line-height: $font-size-search*2;

        & .search {
          line-height: initial;
          position: relative;
          display: inline-block;
          float: left;
          margin-left: 40px;
          margin-right: 55px;
        }

        & .type {
          position: relative;
          display: inline-block;
          float: left;
          margin-right: 40px;

          & label {
            margin-left: 40px;
          }
        }

        & .session {
          position: relative;
          display: inline-block;
          float: left;
          height: $font-size-search*2;

          & .select {
            line-height: initial;
            height: $height-select;
            padding: 0;
            margin: 0;
            border: 3px solid $color-menu-actif;
            border-radius: $height-select/2;
            width: 286px;
            overflow: hidden;
            background: transparent;
            margin-top: #{($font-size-search*2 - $height-select)/2};
          }
        }


      }

      & .list {
        margin-top: 80px;
        & table {
          width: 100%;

          & tr, & td {
            padding: 5px;
          }

          & thead {
            & tr {
              & th {
                color: $color-background-dash;
                font-size: 19px;

                & button {
                  background-color: transparent;
                  border: none;
                  & i {
                    padding-left: 5px;
                    color: $color-menu-actif;
                  }
                }
              }
            }
          }

          & tbody {
            & tr {
              height: 82px;

              &:nth-of-type(2n -1) {
                background-color: $color-table-stripped;
              }

              &.free {
                background-color: $color-table-tr-free;
              }

              & td {
                text-align: center;

                & .description {
                  max-height: 72px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  hyphens: auto;
                  word-wrap: break-word;
                }
                &:nth-of-type(1) {
                  width: 8.8%;
                  text-align: left;
                }

                &:nth-of-type(2) {
                  color: $color-check-label;
                  font-size: 13px;
                  width: 23%;
                  text-align: left;
                }

                &:not(:nth-of-type(2)) {
                  color: $color-tab-results;
                  font-size: 22px;
                  font-weight: bold;


                  & a {
                    font-size: 14px;
                    font-family: "Questrial", sans-serif;
                    font-weight: 500;
                    color: white;
                    background-color: $color-menu-actif;
                    padding-left: 42px;
                    padding-right: 42px;
                    height:26px;
                    border-radius: 13px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    vertical-align: middle;
                    margin-right: 26px;
                  }

                }

                &:first-of-type img {
                  width: 78px;
                  height: 64px;
                  vertical-align: middle;
                }
              }
            }
          }


        }
      }
    }
  }

  & .recommandations {
    background-color: $color-background-recommandations;

    & .vignettes {
      position: relative;
      display: block;
      width: 1150px;
      margin: 0 auto;
      margin-bottom: 55px;

      & a.back, & a.next {
        color: $color-menu-actif;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: calc(50% - 15px);
      }

      & a.back {
        left: 0;
      }

      & a.next {
        right: 0;
      }

      & a.vignette {
        display: inline-block;
        width: 185px;
        height: 150px;
        position: relative;
        margin-left: 25px;

        &:nth-of-type(2) {
          margin-left: 55px;
        }

        & .content {
          width: 100%;
          height: 100%;
          position: relative;
          background-color: $color-vignette-recommandation;
          border-top-left-radius: 50px;
          border-bottom-right-radius: 50px;
          padding: 3px;
          overflow: hidden;
          word-wrap: break-word;
          text-overflow: ellipsis;

          & .img {
            width: 100%;
            height: 73px;
            border-top-left-radius: 47px;
            margin-bottom: 13px;
          }

          & p {
            font-family: "Questrial", sans-serif;
            font-size: 14px;
            color: white;
          }
        }

        & .orange {
          width: 50px;
          height: 50px;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: $color-menu-actif;
        }
      }
    }
  }
}