/* http://v4-alpha.getbootstrap.com/getting-started/options/ */

@import "bootstrap/bootstrap";

$color-sidebar-background: #222;
$color-sidebar-menu-plus: #D9534F;
$color-sidebar-menu-a: #9d9d9d;
$color-sidebar-menu-a-active-hover: #fff;
$color-sidebar-link-background-active-hover: #080808;
$color-main-card-background: #f5f5f5;
$color-orange-poem: #D86A1C;
$color-blue-poem: #264D87;
$color-explorer-input-color: #f6931f;
$color-tag-cloud-text-shadow: #838383;

/* latin-ext */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(../fonts/ptmono-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(../fonts/ptmono-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



html {
  font-size: 14px;
}

.disable-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

#sidebar, #poemBackNavbar {


  & .poemMenu {

    & a {
      color: $color-sidebar-menu-a;

      & i {
        padding-right: 0.4rem;
      }

      &:hover {
        color: $color-sidebar-menu-a-active-hover;
      }
    }

    & #logout {
      padding-right: 1.2rem;
    }

    & ul li {

      position: relative;

      & a:first-child {
        //display: inline-block;
        padding-right: 0.3rem;
        font-size: 1.1rem;
        border-radius: 0;
        text-transform: capitalize;

        &:hover, &.active {
          background-color: $color-sidebar-link-background-active-hover;
          color: $color-sidebar-menu-a-active-hover;
        }
      }

    }
  }
}

#sidebar {
  background-color: $color-sidebar-background;
  color: $color-sidebar-menu-a-active-hover;
  position: fixed;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;
  top: 0;
  bottom: 0;

  & .avatar {
    & img {
      max-width: 30%;
      height: auto;

      & > p {
        width: auto;
      }
    }
  }

  & .row:last-of-type {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    bottom: 0;
  }
}

#main {

  margin-bottom: 30px;

  & #dashboard {

    & .links a {
      font-size: 1.1rem;
      line-height: 2.5rem;
      padding-left: 10px;

      &:nth-child(2){
        position: relative;
        top: -0.3rem;
        color: $color-sidebar-menu-plus;
      }
    }

    & > .row:nth-of-type(1) {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $color-sidebar-background;
    }


    & .indicator1, & .indicator2, & .indicator3, & .indicator4, & .indicator5, & .indicator6 {
      text-align: center;

      & h3 {
        font-weight: 900;
      }

      & .card-footer {
        min-height: 4.5em;
      }

    }


  }

  & #results {
    & .ui-autocomplete {
      width: 25rem;
      margin-bottom: 10px;
      & input {
        width: calc(100% - 2.4rem);
      }
    }

    & input#critere {
      min-width: 20vw;
    }

    & .results-filter {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  & #explorer {
    & .ui-autocomplete {
      width: 100%;
      & input {
        width: 80%;
        margin-left: calc((20% - 2.4em)/2);
      }
    }

    & .selectors {

      & .col-md-4 {
        margin-bottom: 20px;
      }

      & .elo-slider, & .language, & .filter {
        margin-left: calc((20% - 2.4em)/2);
        margin-right: calc((20% - 2.4em)/2);
      }

      & .elo-slider {
        max-width: 100%;
        display: block;
        & label, & input {

        }
        & input {
          border:0;
          color:$color-explorer-input-color;
          font-weight:bold;
        }
      }

      & .filter {
        margin-bottom: 0.3rem;
      }

    }

    & .row div.tag-cloud {
      margin-left: auto;
      margin-right: auto;
      background: transparent url("./assets/ball4.png") no-repeat center;
      background-size: 70% 70%;

      & h3 {
        position: relative;
        top: calc(50% - 0.5em);
        font-size: 5em;
        text-shadow: 0 0 5px $color-tag-cloud-text-shadow;
      }

      & ul li {
        font-family: "PT Sans", sans-serif;
        padding: 4px;
        background-color: rgba(255,255,255,1);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);

      }

      & button.backward {
        position: absolute;
        left: -100px;
        top: calc(50% - 0.5em);
      }

      & button.forward {
        position: absolute;
        right: -100px;
        top: calc(50% - 0.5em);
      }

    }

    //& .d3-explorer{
    //  & svg {
    //    display: block;
    //    margin-left: auto;
    //    margin-right: auto;
    //  }
    //}


  }

  & .page-header {
    margin-top: 2rem;
    border-bottom: 1px solid $color-sidebar-background;
    text-transform: uppercase;
  }

  & .vignettes-list {

    margin-top: 30px;

    & h2 {
      display: inline-block;
    }

    &.find {
      margin-bottom: 2rem;
    }
  }

  & .card {
    & > .img-card {
      height: 140px;
      overflow-x: hidden;
      background-color: $color-main-card-background;
      border-radius: 0.25rem 0.25rem 0 0;

      & .card-img-top {
        height: 100%;
        width: auto;
        display: block;
        margin: 0 auto;
      }
    }

    & i {
      padding-right: 0.4rem;
    }

    & .card-block {

      transition-property: height;
      transition-duration: 2s;

      & .card-title, & .card-text {
        font-family: "PT Sans";
      }

      & .card-title {
        height: 2.3em;
        overflow-y: hidden;
      }

      & .card-text {
        height: 3em;
        overflow-y: hidden;
      }

      & a {
        margin-bottom: 10px;
      }
    }

    & .card-footer p {
      margin-bottom: 0;
    }

  }

  & .more {
    margin-top: 30px;
  }

  & #selection {

    & hr {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    & .arianne {

      padding-bottom: 0;
      padding-top: 2rem;

      & p {
        margin-bottom: 0;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 0.2rem;
        background-color: $color-main-card-background;
      }

      & span {
        color: $color-orange-poem;
        padding-left: 10px;
        padding-right: 10px;
      }

      & i {
        color: $color-blue-poem;
        font-size: 1.2rem;
      }
    }

    & .avatar, & .description {
      padding-top: 1rem;
    }

    & .avatar {
      & img {
        max-height: 125px;
        height: auto;

        & > p {
          width: auto;
        }
      }
    }
  }

}